<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.light.contributionSystem.dao.ArticleDao">
    <!--添加文稿-->
    <insert id="insertArticle" parameterType="article">
        insert into article (uuid,
                             user_id,
                             title,
                             content,
                             audit_status,
                             reason,
                             update_time,
                             del)
        values (#{uuid},
                #{userId},
                #{title},
                #{content},
                "ToBeReviewed",
                "",
                now(),
                0);
    </insert>

    <!--删除文稿/审核文稿-->
    <update id="updateArticle" parameterType="article">
        update article
        set content      = #{content}
          , audit_status = #{auditStatus}
          , reason       = #{reason}
          , update_time  = now()
          , del          = #{del}
        where uuid = #{uuid};
    </update>

    <!--前台查看全部的文稿/根据用户登录名查询文稿-->
    <select id="selectArticlesByUserNameToFrontPage" parameterType="string"
            resultType="com.light.contributionSystem.common.output.ArticleRes">
        select a.uuid id,
        a.user_id userId,
        a.title title,
        a.content content,
        a.audit_status auditStatus,
        a.reason reason,
        a.update_time updateTime,
        a.del del
        from article a
        left join system_user su
        on a.user_id = su.uuid
        where
        a.del = 0
        and a.audit_status = "Passed"
        <if test="userName != null and userName != ''">
            and su.user_name like "%"#{userName}"%"
        </if>
    </select>

    <!--后台台查看全部的文稿/根据用户登录名查询文稿-->
    <select id="selectArticlesByUserNameToBackPage" parameterType="string"
            resultType="com.light.contributionSystem.common.output.ArticleRes">
        select a.uuid id,
        a.user_id userId,
        a.title,
        a.content,
        a.audit_status auditStatus,
        a.reason,
        a.update_time updateTime,
        a.del
        from article a
        left join system_user su
        on a.user_id = su.uuid
        where
        a.del = 0
        <if test="userName != null and userName != ''">
            and su.user_name like "%"#{userName}"%"
        </if>
    </select>

    <!--根据文稿id查看文稿详情-->
    <select id="selectArticleByUuid" parameterType="string" resultType="article">
        select uuid,
               user_id      userId,
               title,
               content,
               audit_status auditStatus,
               reason,
               update_time  updateTime,
               del
        from article
        where uuid = #{uuid}
          and del = 0
    </select>

    <!--根据用户id查询对应的文稿-->
    <select id="selectArticleBySystemUser" parameterType="string"
            resultType="com.light.contributionSystem.common.output.ArticleRes">
        select uuid         id,
               user_id      userId,
               title,
               content,
               audit_status auditStatus,
               reason,
               update_time  updateTime,
               del
        from article
        where user_id = #{userId}
          and del = 0
    </select>

</mapper>